{% extends "base.html" %}

{% block title %}
    <title>Форма составление отчета</title>
{% endblock %}

{% block content %}
    {% load static %}
    <div class="p-10">
        <div class="flex flex-col m-auto w-5/6">
            <form method="get" class="flex justify-between w-3/4 m-auto">
                <fieldset class="border-2 color_b4 p-1 w-fit rounded-lg">
                    <legend>Даты поступления и реализации</legend>
                    <label for="date_from">С:</label>
                    <input type="date" name="date" id="date_from">
                    <label for="date_to">По:</label>
                    <input type="date" name="date" id="date_to">
                </fieldset>

                <div class="flex w-fit h-fit m-auto border-2 color_b4 rounded-lg pl-1 pr-1" style="margin-right: 0px;">
                    <input type="submit" id="build" _method="get" value="Сформировать">
                </div>
            </form>
            
            <form method="post">
                {% csrf_token %}
                <div class="flex flex-col h-fit m-auto gap-y-1" style="margin-right: 0px;">
                    <div class="flex w-fit h-fit m-auto border-2 color_b4 rounded-lg pl-1 pr-1" style="margin-right: 13.5%;">
                        <img class="w-4 h-4 m-auto ml-0" src="{% static 'WarehouseApp/save.png' %}" alt="">
                        <input class="m-auto w-fit outline-none" type="submit" id="save" value="Сохранить">
                    </div>

                    <div id="items" class="color_b4 element flex flex-wrap justify-between rounded-lg border-2 pl-2 pr-2 pb-2 m-auto overflow-auto element" style="width: 95%; max-height: 20rem;">
                        {% for registerRow in register %}
                            <fieldset class="flex flex-col gap-y-2 border-2 color_c2 rounded-lg h-fit p-1 pl-2 pr-2 overflow-auto element" style="max-height: 14rem;">
                                <legend>{{registerRow|get_good}}</legend>
                                {% for registerItem in register|get_item:registerRow %}
                                    <div class="flex flex-col p-1 rounded-lg border-2 color_a1">
                                        {% for field in registerItem.get_model_fields %}
                                            {% if field.name != 'id'%}
                                                {% if field.name == 'good' %}
                                                    <p>Поставщик: {{registerRow|get_supplier}}</p>
                                                {% else %}
                                                    <p>{{registerItem|get_verb_name:field}}: 
                                                        {% if registerItem|get_attribute:field == None %}
                                                            Данных нет
                                                        {% else %}
                                                            {{registerItem|get_attribute:field}}
                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </fieldset>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}