{% extends "WarehouseApp/sections/sectionDetail.html" %}

{% block goodsView%}
    {% for good in goods %}
        <div class="bgcolor_a4 color_c4 flex h-fit w-48 justify-between rounded-xl pl-1">
            <img class="h-8 w-8" src="https://cdn-icons-png.flaticon.com/512/900/900330.png" alt="" title="RAM" />
            <p class="ml-2 overflow-hidden text-ellipsis whitespace-nowrap">{{good}}</p>
            <a class="bgcolor_c4 clip ml-2 rounded-r-lg pl-5 pr-1" href="{% url 'goodDetail' good.place.section.id good.id %}">More</a>
        </div>
    {% endfor %}
{% endblock %}